<html>
  <body>
    <h1> Leiah's Interactives </h1>
    <nav>
      <ul>
        <li><a routerLink="moonGame" routerLinkActive="active" ariaCurrentWhenActive="page">Moon Game</a></li>
        <li><a routerLink="moonFactory" routerLinkActive="active" ariaCurrentWhenActive="page">Moon Factory</a></li>
        <li><a routerLink="planetFactory" routerLinkActive="active" ariaCurrentWhenActive="page">Planet Factory</a></li>
        <li><a routerLink="decomposePlanets" routerLinkActive="active" ariaCurrentWhenActive="page">Decompose a Number into Planets</a></li>
        <li><a routerLink="decomposeAsteroids" routerLinkActive="active" ariaCurrentWhenActive="page">Decompose a Number into Asteroids</a></li>
        <li><a routerLink="decompose" routerLinkActive="active" ariaCurrentWhenActive="page">Decompose a Number in Space</a></li>
        <li><a routerLink="hundredBlocks" routerLinkActive="active" ariaCurrentWhenActive="page">Interactive Hundreds Chart</a></li>
        <li><a routerLink="thousandBlocks" routerLinkActive="active" ariaCurrentWhenActive="page">Interactive Thousands Chart</a></li>
        <li><a routerLink="decimalBlocks" routerLinkActive="active" ariaCurrentWhenActive="page">Interactive Decimal Chart</a></li>
        <li><a routerLink="tradeHundredBlocks" routerLinkActive="active" ariaCurrentWhenActive="page">Trading on a Hundreds Chart</a></li>
      </ul>
    </nav>

    <router-outlet></router-outlet>
  </body>
</html>

