#innerTxt {
    user-select:none
}

svg {
    height : auto; 
    width : auto ;
    max-height : 600px;
    min-height : 300px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}